In [1]:
import pandas as pd

In [3]:
df=pd.read_csv("pylar_data.csv")

In [4]:
df.head()

,Season,Age,Tm,Lg,Pos,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1969-70,22.0,MIL,NBA,C,82.0,NaN,43.1,11.4,22.1,...,0.653,NaN,NaN,14.5,4.1,NaN,NaN,NaN,3.5,28.8
1,1970-71,23.0,MIL,NBA,C,82.0,NaN,40.1,13.0,22.5,...,0.690,NaN,NaN,16.0,3.3,NaN,NaN,NaN,3.2,31.7
2,1971-72,24.0,MIL,NBA,C,81.0,NaN,44.2,14.3,24.9,...,0.689,NaN,NaN,16.6,4.6,NaN,NaN,NaN,2.9,34.8
3,1972-73,25.0,MIL,NBA,C,76.0,NaN,42.8,12.9,23.3,...,0.713,NaN,NaN,16.1,5.0,NaN,NaN,NaN,2.7,30.2
4,1973-74,26.0,MIL,NBA,C,81.0,NaN,43.8,11.7,21.7,...,0.702,3.5,11.0,14.5,4.8,1.4,3.5,NaN,2.9,27.0

In [5]:
type(df)

pandas.core.frame.DataFrame

In [6]:
df.dtypes

Season     object
Age       float64
Tm         object
Lg         object
Pos        object
G         float64
GS        float64
MP        float64
FG        float64
FGA       float64
FG%       float64
3P        float64
3PA       float64
3P%       float64
2P        float64
2PA       float64
2P%       float64
eFG%      float64
FT        float64
FTA       float64
FT%       float64
ORB       float64
DRB       float64
TRB       float64
AST       float64
STL       float64
BLK       float64
TOV       float64
PF        float64
PTS       float64
dtype: object

In [7]:
#this function show me overall static data show me ......
df.describe()

,Age,G,GS,MP,FG,FGA,FG%,3P,3PA,3P%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
count,20.00000,23.000000,10.000000,23.000000,23.000000,23.000000,23.000000,12.0,12.0,10.000000,...,23.000000,19.000000,19.000000,23.000000,23.000000,19.000000,19.000000,14.000000,23.000000,23.000000
mean,31.50000,203.478261,187.500000,36.939130,10.213043,18.278261,0.558261,0.0,0.0,0.033300,...,0.726391,2.447368,7.747368,11.273913,3.639130,0.952632,2.621053,2.721429,2.978261,24.734783
std,5.91608,370.276662,230.590185,5.391638,2.300060,4.199562,0.030120,0.0,0.0,0.105304,...,0.032291,0.625716,2.898346,3.892325,1.092844,0.322091,0.931891,0.609134,0.262776,5.565691
min,22.00000,62.000000,74.000000,22.900000,4.200000,8.900000,0.475000,0.0,0.0,0.000000,...,0.653000,1.400000,3.100000,4.500000,1.000000,0.500000,1.100000,1.300000,2.600000,10.100000
25%,26.75000,78.500000,78.250000,33.300000,9.150000,15.750000,0.543000,0.0,0.0,0.000000,...,0.702500,2.100000,5.300000,7.700000,3.100000,0.750000,1.950000,2.500000,2.850000,22.050000
50%,31.50000,80.000000,79.000000,36.800000,10.200000,18.100000,0.564000,0.0,0.0,0.000000,...,0.723000,2.300000,7.600000,11.200000,3.600000,0.900000,2.700000,2.700000,2.900000,24.800000
75%,36.25000,82.000000,80.000000,41.750000,11.550000,21.900000,0.577500,0.0,0.0,0.000000,...,0.755500,3.000000,10.100000,14.500000,4.400000,1.100000,3.350000,3.075000,3.100000,28.250000
max,41.00000,1560.000000,625.000000,44.200000,14.300000,24.900000,0.604000,0.0,0.0,0.333000,...,0.783000,3.500000,13.500000,16.900000,5.400000,1.700000,4.100000,3.600000,3.600000,34.800000

In [10]:
#thsi function manul using data find function 
df[['Tm','Lg','Pos']]

     Tm   Lg  Pos
0   MIL  NBA    C
1   MIL  NBA    C
2   MIL  NBA    C
3   MIL  NBA    C
4   MIL  NBA    C
5   MIL  NBA    C
6   LAL  NBA    C
7   LAL  NBA    C
8   LAL  NBA    C
9   LAL  NBA    C
10  LAL  NBA    C
11  LAL  NBA    C
12  LAL  NBA    C
13  LAL  NBA    C
14  LAL  NBA    C
15  LAL  NBA    C
16  LAL  NBA    C
17  LAL  NBA    C
18  LAL  NBA    C
19  LAL  NBA    C
20  NaN  NBA  NaN
21  NaN  NaN  NaN
22  LAL  NBA  NaN
23  MIL  NBA  NaN

In [11]:
# this function find obj automatic way 
df.dtypes =='object'

Season     True
Age       False
Tm         True
Lg         True
Pos        True
G         False
GS        False
MP        False
FG        False
FGA       False
FG%       False
3P        False
3PA       False
3P%       False
2P        False
2PA       False
2P%       False
eFG%      False
FT        False
FTA       False
FT%       False
ORB       False
DRB       False
TRB       False
AST       False
STL       False
BLK       False
TOV       False
PF        False
PTS       False
dtype: bool

In [12]:
#this function find data type serise automatic
df.dtypes[df.dtypes =='object']

Season    object
Tm        object
Lg        object
Pos       object
dtype: object

In [13]:
df.dtypes[df.dtypes =='object'].index

Index(['Season', 'Tm', 'Lg', 'Pos'], dtype='object')

In [14]:
#this function multipal data filter the rule ......automatic function 
df[df.dtypes[df.dtypes =='object'].index]

        Season   Tm   Lg  Pos
0      1969-70  MIL  NBA    C
1      1970-71  MIL  NBA    C
2      1971-72  MIL  NBA    C
3      1972-73  MIL  NBA    C
4      1973-74  MIL  NBA    C
5      1974-75  MIL  NBA    C
6      1975-76  LAL  NBA    C
7      1976-77  LAL  NBA    C
8      1977-78  LAL  NBA    C
9      1978-79  LAL  NBA    C
10     1979-80  LAL  NBA    C
11     1980-81  LAL  NBA    C
12     1981-82  LAL  NBA    C
13     1982-83  LAL  NBA    C
14     1983-84  LAL  NBA    C
15     1984-85  LAL  NBA    C
16     1985-86  LAL  NBA    C
17     1986-87  LAL  NBA    C
18     1987-88  LAL  NBA    C
19     1988-89  LAL  NBA    C
20      Career  NaN  NBA  NaN
21         NaN  NaN  NaN  NaN
22  14 seasons  LAL  NBA  NaN
23   6 seasons  MIL  NBA  NaN

In [15]:
# this function with using static function 
df[df.dtypes[df.dtypes =='object'].index].describe()

         Season   Tm   Lg Pos
count        23   22   23  20
unique       23    2    1   1
top     1969-70  LAL  NBA   C
freq          1   15   23  20

In [17]:
df.columns

Index(['Season', 'Age', 'Tm', 'Lg', 'Pos', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%',
       '3P', '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%',
       'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS'],
      dtype='object')

In [20]:
#this function all data give me 'age" col  
df[['Age']]

     Age
0   22.0
1   23.0
2   24.0
3   25.0
4   26.0
5   27.0
6   28.0
7   29.0
8   30.0
9   31.0
10  32.0
11  33.0
12  34.0
13  35.0
14  36.0
15  37.0
16  38.0
17  39.0
18  40.0
19  41.0
20   NaN
21   NaN
22   NaN
23   NaN

In [22]:
#this function using any data find salasing function any ware find loaction 
#this function using combind data run 
df[['Age','Season']][4:11]

     Age   Season
4   26.0  1973-74
5   27.0  1974-75
6   28.0  1975-76
7   29.0  1976-77
8   30.0  1977-78
9   31.0  1978-79
10  32.0  1979-80

In [23]:
#this function using jump data 2 index next like - 2,4,6,8,10 
df[['Age','Season']][4:11:2]

     Age   Season
4   26.0  1973-74
6   28.0  1975-76
8   30.0  1977-78
10  32.0  1979-80

In [24]:
df

,Season,Age,Tm,Lg,Pos,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1969-70,22.0,MIL,NBA,C,82.0,NaN,43.1,11.4,22.1,...,0.653,NaN,NaN,14.5,4.1,NaN,NaN,NaN,3.5,28.8
1,1970-71,23.0,MIL,NBA,C,82.0,NaN,40.1,13.0,22.5,...,0.690,NaN,NaN,16.0,3.3,NaN,NaN,NaN,3.2,31.7
2,1971-72,24.0,MIL,NBA,C,81.0,NaN,44.2,14.3,24.9,...,0.689,NaN,NaN,16.6,4.6,NaN,NaN,NaN,2.9,34.8
3,1972-73,25.0,MIL,NBA,C,76.0,NaN,42.8,12.9,23.3,...,0.713,NaN,NaN,16.1,5.0,NaN,NaN,NaN,2.7,30.2
4,1973-74,26.0,MIL,NBA,C,81.0,NaN,43.8,11.7,21.7,...,0.702,3.5,11.0,14.5,4.8,1.4,3.5,NaN,2.9,27.0
5,1974-75,27.0,MIL,NBA,C,65.0,NaN,42.3,12.5,24.4,...,0.763,3.0,11.0,14.0,4.1,1.0,3.3,NaN,3.2,30.0
6,1975-76,28.0,LAL,NBA,C,82.0,NaN,41.2,11.1,21.1,...,0.703,3.3,13.5,16.9,5.0,1.5,4.1,NaN,3.6,27.7
7,1976-77,29.0,LAL,NBA,C,82.0,NaN,36.8,10.8,18.7,...,0.701,3.2,10.0,13.3,3.9,1.2,3.2,NaN,3.2,26.2
8,1977-78,30.0,LAL,NBA,C,62.0,NaN,36.5,10.7,19.4,...,0.783,3.0,9.9,12.9,4.3,1.7,3.0,3.4,2.9,25.8
9,1978-79,31.0,LAL,NBA,C,80.0,NaN,39.5,9.7,16.8,...,0.736,2.6,10.2,12.8,5.4,1.0,4.0,3.5,2.9,23.8
10,1979-80,32.0,LAL,NBA,C,82.0,NaN,38.3,10.2,16.9,...,0.765,2.3,8.5,10.8,4.5,1.0,3.4,3.6,2.6,24.8
11,1980-81,33.0,LAL,NBA,C,80.0,NaN,37.2,10.5,18.2,...,0.766,2.5,7.8,10.3,3.4,0.7,2.9,3.1,3.1,26.2
12,1981-82,34.0,LAL,NBA,C,76.0,76.0,35.2,9.9,17.1,...,0.706,2.3,6.4,8.7,3.0,0.8,2.7,3.0,2.9,23.9
13,1982-83,35.0,LAL,NBA,C,79.0,79.0,32.3,9.1,15.5,...,0.749,2.1,5.4,7.5,2.5,0.8,2.2,2.5,2.8,21.8
14,1983-84,36.0,LAL,NBA,C,80.0,80.0,32.8,9.0,15.5,...,0.723,2.1,5.2,7.3,2.6,0.7,1.8,2.8,2.6,21.5
15,1984-85,37.0,LAL,NBA,C,79.0,79.0,33.3,9.2,15.3,...,0.732,2.1,5.8,7.9,3.2,0.8,2.1,2.5,3.0,22.0
16,1985-86,38.0,LAL,NBA,C,79.0,79.0,33.3,9.6,16.9,...,0.765,1.7,4.4,6.1,3.5,0.8,1.6,2.6,3.1,23.4
17,1986-87,39.0,LAL,NBA,C,78.0,78.0,31.3,7.2,12.7,...,0.714,1.9,4.8,6.7,2.6,0.6,1.2,2.4,3.1,17.5
18,1987-88,40.0,LAL,NBA,C,80.0,80.0,28.9,6.0,11.3,...,0.762,1.5,4.5,6.0,1.7,0.6,1.2,2.0,2.7,14.6
19,1988-89,41.0,LAL,NBA,C,74.0,74.0,22.9,4.2,8.9,...,0.739,1.4,3.1,4.5,1.0,0.5,1.1,1.3,2.6,10.1
20,Career,NaN,NaN,NBA,NaN,1560.0,625.0,36.8,10.2,18.1,...,0.721,2.4,7.6,11.2,3.6,0.9,2.6,2.7,3.0,24.6
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,14 seasons,NaN,LAL,NBA,NaN,1093.0,625.0,34.3,9.1,16.0,...,0.737,2.3,7.1,9.4,3.3,0.9,2.5,2.7,2.9,22.1
23,6 seasons,NaN,MIL,NBA,NaN,467.0,NaN,42.7,12.6,23.1,...,0.695,3.3,11.0,15.3,4.3,1.2,3.4,NaN,3.1,30.4

In [25]:
# this function using add new col or row in data 
df['mumbai_india']=0

In [26]:
df

,Season,Age,Tm,Lg,Pos,G,GS,MP,FG,FGA,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,mumbai_india
0,1969-70,22.0,MIL,NBA,C,82.0,NaN,43.1,11.4,22.1,...,NaN,NaN,14.5,4.1,NaN,NaN,NaN,3.5,28.8,0
1,1970-71,23.0,MIL,NBA,C,82.0,NaN,40.1,13.0,22.5,...,NaN,NaN,16.0,3.3,NaN,NaN,NaN,3.2,31.7,0
2,1971-72,24.0,MIL,NBA,C,81.0,NaN,44.2,14.3,24.9,...,NaN,NaN,16.6,4.6,NaN,NaN,NaN,2.9,34.8,0
3,1972-73,25.0,MIL,NBA,C,76.0,NaN,42.8,12.9,23.3,...,NaN,NaN,16.1,5.0,NaN,NaN,NaN,2.7,30.2,0
4,1973-74,26.0,MIL,NBA,C,81.0,NaN,43.8,11.7,21.7,...,3.5,11.0,14.5,4.8,1.4,3.5,NaN,2.9,27.0,0
5,1974-75,27.0,MIL,NBA,C,65.0,NaN,42.3,12.5,24.4,...,3.0,11.0,14.0,4.1,1.0,3.3,NaN,3.2,30.0,0
6,1975-76,28.0,LAL,NBA,C,82.0,NaN,41.2,11.1,21.1,...,3.3,13.5,16.9,5.0,1.5,4.1,NaN,3.6,27.7,0
7,1976-77,29.0,LAL,NBA,C,82.0,NaN,36.8,10.8,18.7,...,3.2,10.0,13.3,3.9,1.2,3.2,NaN,3.2,26.2,0
8,1977-78,30.0,LAL,NBA,C,62.0,NaN,36.5,10.7,19.4,...,3.0,9.9,12.9,4.3,1.7,3.0,3.4,2.9,25.8,0
9,1978-79,31.0,LAL,NBA,C,80.0,NaN,39.5,9.7,16.8,...,2.6,10.2,12.8,5.4,1.0,4.0,3.5,2.9,23.8,0
10,1979-80,32.0,LAL,NBA,C,82.0,NaN,38.3,10.2,16.9,...,2.3,8.5,10.8,4.5,1.0,3.4,3.6,2.6,24.8,0
11,1980-81,33.0,LAL,NBA,C,80.0,NaN,37.2,10.5,18.2,...,2.5,7.8,10.3,3.4,0.7,2.9,3.1,3.1,26.2,0
12,1981-82,34.0,LAL,NBA,C,76.0,76.0,35.2,9.9,17.1,...,2.3,6.4,8.7,3.0,0.8,2.7,3.0,2.9,23.9,0
13,1982-83,35.0,LAL,NBA,C,79.0,79.0,32.3,9.1,15.5,...,2.1,5.4,7.5,2.5,0.8,2.2,2.5,2.8,21.8,0
14,1983-84,36.0,LAL,NBA,C,80.0,80.0,32.8,9.0,15.5,...,2.1,5.2,7.3,2.6,0.7,1.8,2.8,2.6,21.5,0
15,1984-85,37.0,LAL,NBA,C,79.0,79.0,33.3,9.2,15.3,...,2.1,5.8,7.9,3.2,0.8,2.1,2.5,3.0,22.0,0
16,1985-86,38.0,LAL,NBA,C,79.0,79.0,33.3,9.6,16.9,...,1.7,4.4,6.1,3.5,0.8,1.6,2.6,3.1,23.4,0
17,1986-87,39.0,LAL,NBA,C,78.0,78.0,31.3,7.2,12.7,...,1.9,4.8,6.7,2.6,0.6,1.2,2.4,3.1,17.5,0
18,1987-88,40.0,LAL,NBA,C,80.0,80.0,28.9,6.0,11.3,...,1.5,4.5,6.0,1.7,0.6,1.2,2.0,2.7,14.6,0
19,1988-89,41.0,LAL,NBA,C,74.0,74.0,22.9,4.2,8.9,...,1.4,3.1,4.5,1.0,0.5,1.1,1.3,2.6,10.1,0
20,Career,NaN,NaN,NBA,NaN,1560.0,625.0,36.8,10.2,18.1,...,2.4,7.6,11.2,3.6,0.9,2.6,2.7,3.0,24.6,0
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
22,14 seasons,NaN,LAL,NBA,NaN,1093.0,625.0,34.3,9.1,16.0,...,2.3,7.1,9.4,3.3,0.9,2.5,2.7,2.9,22.1,0
23,6 seasons,NaN,MIL,NBA,NaN,467.0,NaN,42.7,12.6,23.1,...,3.3,11.0,15.3,4.3,1.2,3.4,NaN,3.1,30.4,0

In [35]:
# this function using multipal condition using mathod 
df["new_cal"] = df['ORB'] + df['BLK']

In [36]:
df

,Season,Age,Tm,Lg,Pos,G,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,mumbai_india,new_call,new_cal
0,1969-70,22.0,MIL,NBA,C,82.0,NaN,43.1,11.4,22.1,...,14.5,4.1,NaN,NaN,NaN,3.5,28.8,0,NaN,NaN
1,1970-71,23.0,MIL,NBA,C,82.0,NaN,40.1,13.0,22.5,...,16.0,3.3,NaN,NaN,NaN,3.2,31.7,0,NaN,NaN
2,1971-72,24.0,MIL,NBA,C,81.0,NaN,44.2,14.3,24.9,...,16.6,4.6,NaN,NaN,NaN,2.9,34.8,0,NaN,NaN
3,1972-73,25.0,MIL,NBA,C,76.0,NaN,42.8,12.9,23.3,...,16.1,5.0,NaN,NaN,NaN,2.7,30.2,0,NaN,NaN
4,1973-74,26.0,MIL,NBA,C,81.0,NaN,43.8,11.7,21.7,...,14.5,4.8,1.4,3.5,NaN,2.9,27.0,0,4.9,7.0
5,1974-75,27.0,MIL,NBA,C,65.0,NaN,42.3,12.5,24.4,...,14.0,4.1,1.0,3.3,NaN,3.2,30.0,0,4.0,6.3
6,1975-76,28.0,LAL,NBA,C,82.0,NaN,41.2,11.1,21.1,...,16.9,5.0,1.5,4.1,NaN,3.6,27.7,0,4.8,7.4
7,1976-77,29.0,LAL,NBA,C,82.0,NaN,36.8,10.8,18.7,...,13.3,3.9,1.2,3.2,NaN,3.2,26.2,0,4.4,6.4
8,1977-78,30.0,LAL,NBA,C,62.0,NaN,36.5,10.7,19.4,...,12.9,4.3,1.7,3.0,3.4,2.9,25.8,0,4.7,6.0
9,1978-79,31.0,LAL,NBA,C,80.0,NaN,39.5,9.7,16.8,...,12.8,5.4,1.0,4.0,3.5,2.9,23.8,0,3.6,6.6
10,1979-80,32.0,LAL,NBA,C,82.0,NaN,38.3,10.2,16.9,...,10.8,4.5,1.0,3.4,3.6,2.6,24.8,0,3.3,5.7
11,1980-81,33.0,LAL,NBA,C,80.0,NaN,37.2,10.5,18.2,...,10.3,3.4,0.7,2.9,3.1,3.1,26.2,0,3.2,5.4
12,1981-82,34.0,LAL,NBA,C,76.0,76.0,35.2,9.9,17.1,...,8.7,3.0,0.8,2.7,3.0,2.9,23.9,0,3.1,5.0
13,1982-83,35.0,LAL,NBA,C,79.0,79.0,32.3,9.1,15.5,...,7.5,2.5,0.8,2.2,2.5,2.8,21.8,0,2.9,4.3
14,1983-84,36.0,LAL,NBA,C,80.0,80.0,32.8,9.0,15.5,...,7.3,2.6,0.7,1.8,2.8,2.6,21.5,0,2.8,3.9
15,1984-85,37.0,LAL,NBA,C,79.0,79.0,33.3,9.2,15.3,...,7.9,3.2,0.8,2.1,2.5,3.0,22.0,0,2.9,4.2
16,1985-86,38.0,LAL,NBA,C,79.0,79.0,33.3,9.6,16.9,...,6.1,3.5,0.8,1.6,2.6,3.1,23.4,0,2.5,3.3
17,1986-87,39.0,LAL,NBA,C,78.0,78.0,31.3,7.2,12.7,...,6.7,2.6,0.6,1.2,2.4,3.1,17.5,0,2.5,3.1
18,1987-88,40.0,LAL,NBA,C,80.0,80.0,28.9,6.0,11.3,...,6.0,1.7,0.6,1.2,2.0,2.7,14.6,0,2.1,2.7
19,1988-89,41.0,LAL,NBA,C,74.0,74.0,22.9,4.2,8.9,...,4.5,1.0,0.5,1.1,1.3,2.6,10.1,0,1.9,2.5
20,Career,NaN,NaN,NBA,NaN,1560.0,625.0,36.8,10.2,18.1,...,11.2,3.6,0.9,2.6,2.7,3.0,24.6,0,3.3,5.0
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN
22,14 seasons,NaN,LAL,NBA,NaN,1093.0,625.0,34.3,9.1,16.0,...,9.4,3.3,0.9,2.5,2.7,2.9,22.1,0,3.2,4.8
23,6 seasons,NaN,MIL,NBA,NaN,467.0,NaN,42.7,12.6,23.1,...,15.3,4.3,1.2,3.4,NaN,3.1,30.4,0,4.5,6.7

In [37]:
df.head()

,Season,Age,Tm,Lg,Pos,G,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,mumbai_india,new_call,new_cal
0,1969-70,22.0,MIL,NBA,C,82.0,NaN,43.1,11.4,22.1,...,14.5,4.1,NaN,NaN,NaN,3.5,28.8,0,NaN,NaN
1,1970-71,23.0,MIL,NBA,C,82.0,NaN,40.1,13.0,22.5,...,16.0,3.3,NaN,NaN,NaN,3.2,31.7,0,NaN,NaN
2,1971-72,24.0,MIL,NBA,C,81.0,NaN,44.2,14.3,24.9,...,16.6,4.6,NaN,NaN,NaN,2.9,34.8,0,NaN,NaN
3,1972-73,25.0,MIL,NBA,C,76.0,NaN,42.8,12.9,23.3,...,16.1,5.0,NaN,NaN,NaN,2.7,30.2,0,NaN,NaN
4,1973-74,26.0,MIL,NBA,C,81.0,NaN,43.8,11.7,21.7,...,14.5,4.8,1.4,3.5,NaN,2.9,27.0,0,4.9,7.0

In [38]:
#this function show me my col uniqe numbers and able data  show me 
pd.Categorical(df['BLK'])

/opt/conda/lib/python3.10/site-packages/IPython/lib/pretty.py:778: FutureWarning: Index.ravel returning ndarray is deprecated; in a future version this will return a view on self.
  output = repr(obj)

[NaN, NaN, NaN, NaN, 3.5, ..., 1.1, 2.6, NaN, 2.5, 3.4]
Length: 24
Categories (17, float64): [1.1, 1.2, 1.6, 1.8, ..., 3.4, 3.5, 4.0, 4.1]

In [44]:
#this function show me cal unique dates in data 
df['Season'].unique()

array(['1969-70', '1970-71', '1971-72', '1972-73', '1973-74', '1974-75',
       '1975-76', '1976-77', '1977-78', '1978-79', '1979-80', '1980-81',
       '1981-82', '1982-83', '1983-84', '1984-85', '1985-86', '1986-87',
       '1987-88', '1988-89', 'Career', nan, '14 seasons', '6 seasons'],
      dtype=object)

In [45]:
df.head()

,Season,Age,Tm,Lg,Pos,G,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,mumbai_india,new_call,new_cal
0,1969-70,22.0,MIL,NBA,C,82.0,NaN,43.1,11.4,22.1,...,14.5,4.1,NaN,NaN,NaN,3.5,28.8,0,NaN,NaN
1,1970-71,23.0,MIL,NBA,C,82.0,NaN,40.1,13.0,22.5,...,16.0,3.3,NaN,NaN,NaN,3.2,31.7,0,NaN,NaN
2,1971-72,24.0,MIL,NBA,C,81.0,NaN,44.2,14.3,24.9,...,16.6,4.6,NaN,NaN,NaN,2.9,34.8,0,NaN,NaN
3,1972-73,25.0,MIL,NBA,C,76.0,NaN,42.8,12.9,23.3,...,16.1,5.0,NaN,NaN,NaN,2.7,30.2,0,NaN,NaN
4,1973-74,26.0,MIL,NBA,C,81.0,NaN,43.8,11.7,21.7,...,14.5,4.8,1.4,3.5,NaN,2.9,27.0,0,4.9,7.0

In [46]:
df['Age']

0     22.0
1     23.0
2     24.0
3     25.0
4     26.0
5     27.0
6     28.0
7     29.0
8     30.0
9     31.0
10    32.0
11    33.0
12    34.0
13    35.0
14    36.0
15    37.0
16    38.0
17    39.0
18    40.0
19    41.0
20     NaN
21     NaN
22     NaN
23     NaN
Name: Age, dtype: float64

In [49]:
#this function fing filter function this time i am using 18 age more then plyaer data fing this data show me .
df[df['Age'] >18]

,Season,Age,Tm,Lg,Pos,G,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,mumbai_india,new_call,new_cal
0,1969-70,22.0,MIL,NBA,C,82.0,NaN,43.1,11.4,22.1,...,14.5,4.1,NaN,NaN,NaN,3.5,28.8,0,NaN,NaN
1,1970-71,23.0,MIL,NBA,C,82.0,NaN,40.1,13.0,22.5,...,16.0,3.3,NaN,NaN,NaN,3.2,31.7,0,NaN,NaN
2,1971-72,24.0,MIL,NBA,C,81.0,NaN,44.2,14.3,24.9,...,16.6,4.6,NaN,NaN,NaN,2.9,34.8,0,NaN,NaN
3,1972-73,25.0,MIL,NBA,C,76.0,NaN,42.8,12.9,23.3,...,16.1,5.0,NaN,NaN,NaN,2.7,30.2,0,NaN,NaN
4,1973-74,26.0,MIL,NBA,C,81.0,NaN,43.8,11.7,21.7,...,14.5,4.8,1.4,3.5,NaN,2.9,27.0,0,4.9,7.0
5,1974-75,27.0,MIL,NBA,C,65.0,NaN,42.3,12.5,24.4,...,14.0,4.1,1.0,3.3,NaN,3.2,30.0,0,4.0,6.3
6,1975-76,28.0,LAL,NBA,C,82.0,NaN,41.2,11.1,21.1,...,16.9,5.0,1.5,4.1,NaN,3.6,27.7,0,4.8,7.4
7,1976-77,29.0,LAL,NBA,C,82.0,NaN,36.8,10.8,18.7,...,13.3,3.9,1.2,3.2,NaN,3.2,26.2,0,4.4,6.4
8,1977-78,30.0,LAL,NBA,C,62.0,NaN,36.5,10.7,19.4,...,12.9,4.3,1.7,3.0,3.4,2.9,25.8,0,4.7,6.0
9,1978-79,31.0,LAL,NBA,C,80.0,NaN,39.5,9.7,16.8,...,12.8,5.4,1.0,4.0,3.5,2.9,23.8,0,3.6,6.6
10,1979-80,32.0,LAL,NBA,C,82.0,NaN,38.3,10.2,16.9,...,10.8,4.5,1.0,3.4,3.6,2.6,24.8,0,3.3,5.7
11,1980-81,33.0,LAL,NBA,C,80.0,NaN,37.2,10.5,18.2,...,10.3,3.4,0.7,2.9,3.1,3.1,26.2,0,3.2,5.4
12,1981-82,34.0,LAL,NBA,C,76.0,76.0,35.2,9.9,17.1,...,8.7,3.0,0.8,2.7,3.0,2.9,23.9,0,3.1,5.0
13,1982-83,35.0,LAL,NBA,C,79.0,79.0,32.3,9.1,15.5,...,7.5,2.5,0.8,2.2,2.5,2.8,21.8,0,2.9,4.3
14,1983-84,36.0,LAL,NBA,C,80.0,80.0,32.8,9.0,15.5,...,7.3,2.6,0.7,1.8,2.8,2.6,21.5,0,2.8,3.9
15,1984-85,37.0,LAL,NBA,C,79.0,79.0,33.3,9.2,15.3,...,7.9,3.2,0.8,2.1,2.5,3.0,22.0,0,2.9,4.2
16,1985-86,38.0,LAL,NBA,C,79.0,79.0,33.3,9.6,16.9,...,6.1,3.5,0.8,1.6,2.6,3.1,23.4,0,2.5,3.3
17,1986-87,39.0,LAL,NBA,C,78.0,78.0,31.3,7.2,12.7,...,6.7,2.6,0.6,1.2,2.4,3.1,17.5,0,2.5,3.1
18,1987-88,40.0,LAL,NBA,C,80.0,80.0,28.9,6.0,11.3,...,6.0,1.7,0.6,1.2,2.0,2.7,14.6,0,2.1,2.7
19,1988-89,41.0,LAL,NBA,C,74.0,74.0,22.9,4.2,8.9,...,4.5,1.0,0.5,1.1,1.3,2.6,10.1,0,1.9,2.5

In [50]:
len(df[df['Age'] >18])

20

In [52]:
#this function using data any loaction fing difrence and avarge in fing all data condition base fing 
df[df['PTS'] > 24.734783]

,Season,Age,Tm,Lg,Pos,G,GS,MP,FG,FGA,...,TRB,AST,STL,BLK,TOV,PF,PTS,mumbai_india,new_call,new_cal
0,1969-70,22.0,MIL,NBA,C,82.0,NaN,43.1,11.4,22.1,...,14.5,4.1,NaN,NaN,NaN,3.5,28.8,0,NaN,NaN
1,1970-71,23.0,MIL,NBA,C,82.0,NaN,40.1,13.0,22.5,...,16.0,3.3,NaN,NaN,NaN,3.2,31.7,0,NaN,NaN
2,1971-72,24.0,MIL,NBA,C,81.0,NaN,44.2,14.3,24.9,...,16.6,4.6,NaN,NaN,NaN,2.9,34.8,0,NaN,NaN
3,1972-73,25.0,MIL,NBA,C,76.0,NaN,42.8,12.9,23.3,...,16.1,5.0,NaN,NaN,NaN,2.7,30.2,0,NaN,NaN
4,1973-74,26.0,MIL,NBA,C,81.0,NaN,43.8,11.7,21.7,...,14.5,4.8,1.4,3.5,NaN,2.9,27.0,0,4.9,7.0
5,1974-75,27.0,MIL,NBA,C,65.0,NaN,42.3,12.5,24.4,...,14.0,4.1,1.0,3.3,NaN,3.2,30.0,0,4.0,6.3
6,1975-76,28.0,LAL,NBA,C,82.0,NaN,41.2,11.1,21.1,...,16.9,5.0,1.5,4.1,NaN,3.6,27.7,0,4.8,7.4
7,1976-77,29.0,LAL,NBA,C,82.0,NaN,36.8,10.8,18.7,...,13.3,3.9,1.2,3.2,NaN,3.2,26.2,0,4.4,6.4
8,1977-78,30.0,LAL,NBA,C,62.0,NaN,36.5,10.7,19.4,...,12.9,4.3,1.7,3.0,3.4,2.9,25.8,0,4.7,6.0
10,1979-80,32.0,LAL,NBA,C,82.0,NaN,38.3,10.2,16.9,...,10.8,4.5,1.0,3.4,3.6,2.6,24.8,0,3.3,5.7
11,1980-81,33.0,LAL,NBA,C,80.0,NaN,37.2,10.5,18.2,...,10.3,3.4,0.7,2.9,3.1,3.1,26.2,0,3.2,5.4
23,6 seasons,NaN,MIL,NBA,NaN,467.0,NaN,42.7,12.6,23.1,...,15.3,4.3,1.2,3.4,NaN,3.1,30.4,0,4.5,6.7

In [53]:
# this function show me this cal not any sinle fare give this game . data nil 
df[df['PTS'] ==0]

Empty DataFrame
Columns: [Season, Age, Tm, Lg, Pos, G, GS, MP, FG, FGA, FG%, 3P, 3PA, 3P%, 2P, 2PA, 2P%, eFG%, FT, FTA, FT%, ORB, DRB, TRB, AST, STL, BLK, TOV, PF, PTS, mumbai_india, new_call, new_cal]
Index: []

[0 rows x 33 columns]

In [6]:
df['Age'] == 'Season'
df ['Age'] >32

NameError: name 'df' is not defined

In [8]:
#this function using joint fanction mathod run code .....(this data not creacte) error show me  
df[(df['Age'] == 'Season') and df (['Age'] >32)]

NameError: name 'df' is not defined

In [10]:
import pandas as pd

In [11]:
df1=pd.read_csv('pylar_data.csv')

In [12]:
df1.columns

Index(['Season', 'Age', 'Tm', 'Lg', 'Pos', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%',
       '3P', '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%',
       'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS'],
      dtype='object')

In [19]:
s=df1['Season'][0:10]

In [20]:
s

0    1969-70
1    1970-71
2    1971-72
3    1972-73
4    1973-74
5    1974-75
6    1975-76
7    1976-77
8    1977-78
9    1978-79
Name: Season, dtype: object

In [33]:
l=['durgesh','s','d','x','c','v','r','k','l','o']

In [34]:
#this function using index change ..
s1=pd.Series(list(s),index=l)
# this function by difult show change index run any code no error any data find esely

In [35]:
s

0    1969-70
1    1970-71
2    1971-72
3    1972-73
4    1973-74
5    1974-75
6    1975-76
7    1976-77
8    1977-78
9    1978-79
Name: Season, dtype: object

In [36]:
s1

durgesh    1969-70
s          1970-71
d          1971-72
x          1972-73
c          1973-74
v          1974-75
r          1975-76
k          1976-77
l          1977-78
o          1978-79
dtype: object

In [38]:
s1['durgesh']

'1969-70'

In [32]:
s1[0]

'1969-70'

In [42]:
s2=s1.append(s)

/tmp/ipykernel_77/2552242485.py:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  s2=s1.append(s)

In [43]:
s2

durgesh    1969-70
s          1970-71
d          1971-72
x          1972-73
c          1973-74
v          1974-75
r          1975-76
k          1976-77
l          1977-78
o          1978-79
0          1969-70
1          1970-71
2          1971-72
3          1972-73
4          1973-74
5          1974-75
6          1975-76
7          1976-77
8          1977-78
9          1978-79
dtype: object

In [44]:
s2[4]

'1973-74'

In [48]:
s4 = pd.Series([1,2,3,4,5,6] , index = [7,8,9,4,5,6])

In [49]:
s5 = pd.Series([11558,89,858,545,54] , index = [58,457,857,586,6257])

In [52]:
s6=s4.append(s5)

/tmp/ipykernel_77/884104408.py:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  s6=s4.append(s5)

In [53]:
s6

7           1
8           2
9           3
4           4
5           5
6           6
58      11558
457        89
857       858
586       545
6257       54
dtype: int64

In [55]:
s6[4]

4

In [56]:
s6[5]

5

In [57]:
s6[0:2]

/tmp/ipykernel_77/1549775258.py:1: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  s6[0:2]

7    1
8    2
dtype: int64

In [58]:
s4

7    1
8    2
9    3
4    4
5    5
6    6
dtype: int64

In [59]:
s5

58      11558
457        89
857       858
586       545
6257       54
dtype: int64

In [60]:
s4*s5

4      NaN
5      NaN
6      NaN
7      NaN
8      NaN
9      NaN
58     NaN
457    NaN
586    NaN
857    NaN
6257   NaN
dtype: float64