In [27]:
import pandas as pd

In [28]:
df=pd.read_csv("test.csv")

In [29]:
df.columns

Index(['first_name', 'last_name', 'company_name', 'address', 'city', 'county',
       'state', 'zip', 'phone1', 'phone2', 'email', 'web'],
      dtype='object')

In [30]:
df

,first_name,last_name,company_name,address,city,county,state,zip,phone1,phone2,email,web
0,James,Butt,"Benton, John B Jr",6649 N Blue Gum St,New Orleans,Orleans,LA,70116,504-621-8927,504-845-1427,jbutt@gmail.com,http://www.bentonjohnbjr.com
1,Josephine,Darakjy,"Chanay, Jeffrey A Esq",4 B Blue Ridge Blvd,Brighton,Livingston,MI,48116,810-292-9388,810-374-9840,josephine_darakjy@darakjy.org,http://www.chanayjeffreyaesq.com
2,Art,Venere,"Chemel, James L Cpa",8 W Cerritos Ave #54,Bridgeport,Gloucester,NJ,8014,856-636-8749,856-264-4130,art@venere.org,http://www.chemeljameslcpa.com
3,Lenna,Paprocki,Feltz Printing Service,639 Main St,Anchorage,Anchorage,AK,99501,907-385-4412,907-921-2010,lpaprocki@hotmail.com,http://www.feltzprintingservice.com
4,Donette,Foller,Printing Dimensions,34 Center St,Hamilton,Butler,OH,45011,513-570-1893,513-549-4561,donette.foller@cox.net,http://www.printingdimensions.com
...,...,...,...,...,...,...,...,...,...,...,...,...
495,Brittni,Gillaspie,Inner Label,67 Rv Cent,Boise,Ada,ID,83709,208-709-1235,208-206-9848,bgillaspie@gillaspie.com,http://www.innerlabel.com
496,Raylene,Kampa,Hermar Inc,2 Sw Nyberg Rd,Elkhart,Elkhart,IN,46514,574-499-1454,574-330-1884,rkampa@kampa.org,http://www.hermarinc.com
497,Flo,Bookamer,Simonton Howe & Schneider Pc,89992 E 15th St,Alliance,Box Butte,NE,69301,308-726-2182,308-250-6987,flo.bookamer@cox.net,http://www.simontonhoweschneiderpc.com
498,Jani,Biddy,Warehouse Office & Paper Prod,61556 W 20th Ave,Seattle,King,WA,98104,206-711-6498,206-395-6284,jbiddy@yahoo.com,http://www.warehouseofficepaperprod.com
499,Chauncey,Motley,Affiliated With Travelodge,63 E Aurora Dr,Orlando,Orange,FL,32804,407-413-4842,407-557-8857,chauncey_motley@aol.com,http://www.affiliatedwithtravelodge.com

In [31]:
#this function using remove data any location 
# Notes: this function not permanat delete option 
df.drop("phone2", axis = 1)

,first_name,last_name,company_name,address,city,county,state,zip,phone1,email,web
0,James,Butt,"Benton, John B Jr",6649 N Blue Gum St,New Orleans,Orleans,LA,70116,504-621-8927,jbutt@gmail.com,http://www.bentonjohnbjr.com
1,Josephine,Darakjy,"Chanay, Jeffrey A Esq",4 B Blue Ridge Blvd,Brighton,Livingston,MI,48116,810-292-9388,josephine_darakjy@darakjy.org,http://www.chanayjeffreyaesq.com
2,Art,Venere,"Chemel, James L Cpa",8 W Cerritos Ave #54,Bridgeport,Gloucester,NJ,8014,856-636-8749,art@venere.org,http://www.chemeljameslcpa.com
3,Lenna,Paprocki,Feltz Printing Service,639 Main St,Anchorage,Anchorage,AK,99501,907-385-4412,lpaprocki@hotmail.com,http://www.feltzprintingservice.com
4,Donette,Foller,Printing Dimensions,34 Center St,Hamilton,Butler,OH,45011,513-570-1893,donette.foller@cox.net,http://www.printingdimensions.com
...,...,...,...,...,...,...,...,...,...,...,...
495,Brittni,Gillaspie,Inner Label,67 Rv Cent,Boise,Ada,ID,83709,208-709-1235,bgillaspie@gillaspie.com,http://www.innerlabel.com
496,Raylene,Kampa,Hermar Inc,2 Sw Nyberg Rd,Elkhart,Elkhart,IN,46514,574-499-1454,rkampa@kampa.org,http://www.hermarinc.com
497,Flo,Bookamer,Simonton Howe & Schneider Pc,89992 E 15th St,Alliance,Box Butte,NE,69301,308-726-2182,flo.bookamer@cox.net,http://www.simontonhoweschneiderpc.com
498,Jani,Biddy,Warehouse Office & Paper Prod,61556 W 20th Ave,Seattle,King,WA,98104,206-711-6498,jbiddy@yahoo.com,http://www.warehouseofficepaperprod.com
499,Chauncey,Motley,Affiliated With Travelodge,63 E Aurora Dr,Orlando,Orange,FL,32804,407-413-4842,chauncey_motley@aol.com,http://www.affiliatedwithtravelodge.com

In [32]:
df

,first_name,last_name,company_name,address,city,county,state,zip,phone1,phone2,email,web
0,James,Butt,"Benton, John B Jr",6649 N Blue Gum St,New Orleans,Orleans,LA,70116,504-621-8927,504-845-1427,jbutt@gmail.com,http://www.bentonjohnbjr.com
1,Josephine,Darakjy,"Chanay, Jeffrey A Esq",4 B Blue Ridge Blvd,Brighton,Livingston,MI,48116,810-292-9388,810-374-9840,josephine_darakjy@darakjy.org,http://www.chanayjeffreyaesq.com
2,Art,Venere,"Chemel, James L Cpa",8 W Cerritos Ave #54,Bridgeport,Gloucester,NJ,8014,856-636-8749,856-264-4130,art@venere.org,http://www.chemeljameslcpa.com
3,Lenna,Paprocki,Feltz Printing Service,639 Main St,Anchorage,Anchorage,AK,99501,907-385-4412,907-921-2010,lpaprocki@hotmail.com,http://www.feltzprintingservice.com
4,Donette,Foller,Printing Dimensions,34 Center St,Hamilton,Butler,OH,45011,513-570-1893,513-549-4561,donette.foller@cox.net,http://www.printingdimensions.com
...,...,...,...,...,...,...,...,...,...,...,...,...
495,Brittni,Gillaspie,Inner Label,67 Rv Cent,Boise,Ada,ID,83709,208-709-1235,208-206-9848,bgillaspie@gillaspie.com,http://www.innerlabel.com
496,Raylene,Kampa,Hermar Inc,2 Sw Nyberg Rd,Elkhart,Elkhart,IN,46514,574-499-1454,574-330-1884,rkampa@kampa.org,http://www.hermarinc.com
497,Flo,Bookamer,Simonton Howe & Schneider Pc,89992 E 15th St,Alliance,Box Butte,NE,69301,308-726-2182,308-250-6987,flo.bookamer@cox.net,http://www.simontonhoweschneiderpc.com
498,Jani,Biddy,Warehouse Office & Paper Prod,61556 W 20th Ave,Seattle,King,WA,98104,206-711-6498,206-395-6284,jbiddy@yahoo.com,http://www.warehouseofficepaperprod.com
499,Chauncey,Motley,Affiliated With Travelodge,63 E Aurora Dr,Orlando,Orange,FL,32804,407-413-4842,407-557-8857,chauncey_motley@aol.com,http://www.affiliatedwithtravelodge.com

In [33]:
#this function using permanet data delete 
# in this method all time using permanet drop option using all time "inplace= True" 
df.drop("phone2", axis = 1, inplace = True)

In [34]:
df

,first_name,last_name,company_name,address,city,county,state,zip,phone1,email,web
0,James,Butt,"Benton, John B Jr",6649 N Blue Gum St,New Orleans,Orleans,LA,70116,504-621-8927,jbutt@gmail.com,http://www.bentonjohnbjr.com
1,Josephine,Darakjy,"Chanay, Jeffrey A Esq",4 B Blue Ridge Blvd,Brighton,Livingston,MI,48116,810-292-9388,josephine_darakjy@darakjy.org,http://www.chanayjeffreyaesq.com
2,Art,Venere,"Chemel, James L Cpa",8 W Cerritos Ave #54,Bridgeport,Gloucester,NJ,8014,856-636-8749,art@venere.org,http://www.chemeljameslcpa.com
3,Lenna,Paprocki,Feltz Printing Service,639 Main St,Anchorage,Anchorage,AK,99501,907-385-4412,lpaprocki@hotmail.com,http://www.feltzprintingservice.com
4,Donette,Foller,Printing Dimensions,34 Center St,Hamilton,Butler,OH,45011,513-570-1893,donette.foller@cox.net,http://www.printingdimensions.com
...,...,...,...,...,...,...,...,...,...,...,...
495,Brittni,Gillaspie,Inner Label,67 Rv Cent,Boise,Ada,ID,83709,208-709-1235,bgillaspie@gillaspie.com,http://www.innerlabel.com
496,Raylene,Kampa,Hermar Inc,2 Sw Nyberg Rd,Elkhart,Elkhart,IN,46514,574-499-1454,rkampa@kampa.org,http://www.hermarinc.com
497,Flo,Bookamer,Simonton Howe & Schneider Pc,89992 E 15th St,Alliance,Box Butte,NE,69301,308-726-2182,flo.bookamer@cox.net,http://www.simontonhoweschneiderpc.com
498,Jani,Biddy,Warehouse Office & Paper Prod,61556 W 20th Ave,Seattle,King,WA,98104,206-711-6498,jbiddy@yahoo.com,http://www.warehouseofficepaperprod.com
499,Chauncey,Motley,Affiliated With Travelodge,63 E Aurora Dr,Orlando,Orange,FL,32804,407-413-4842,chauncey_motley@aol.com,http://www.affiliatedwithtravelodge.com

In [35]:
#this function show me index change with name Row [but this data not permanet change ]
# permannet using mathod  'df.set_index("first_name",inplace = True')
df.set_index("first_name")

,last_name,company_name,address,city,county,state,zip,phone1,email,web
first_name,,,,,,,,,,
James,Butt,"Benton, John B Jr",6649 N Blue Gum St,New Orleans,Orleans,LA,70116,504-621-8927,jbutt@gmail.com,http://www.bentonjohnbjr.com
Josephine,Darakjy,"Chanay, Jeffrey A Esq",4 B Blue Ridge Blvd,Brighton,Livingston,MI,48116,810-292-9388,josephine_darakjy@darakjy.org,http://www.chanayjeffreyaesq.com
Art,Venere,"Chemel, James L Cpa",8 W Cerritos Ave #54,Bridgeport,Gloucester,NJ,8014,856-636-8749,art@venere.org,http://www.chemeljameslcpa.com
Lenna,Paprocki,Feltz Printing Service,639 Main St,Anchorage,Anchorage,AK,99501,907-385-4412,lpaprocki@hotmail.com,http://www.feltzprintingservice.com
Donette,Foller,Printing Dimensions,34 Center St,Hamilton,Butler,OH,45011,513-570-1893,donette.foller@cox.net,http://www.printingdimensions.com
...,...,...,...,...,...,...,...,...,...,...
Brittni,Gillaspie,Inner Label,67 Rv Cent,Boise,Ada,ID,83709,208-709-1235,bgillaspie@gillaspie.com,http://www.innerlabel.com
Raylene,Kampa,Hermar Inc,2 Sw Nyberg Rd,Elkhart,Elkhart,IN,46514,574-499-1454,rkampa@kampa.org,http://www.hermarinc.com
Flo,Bookamer,Simonton Howe & Schneider Pc,89992 E 15th St,Alliance,Box Butte,NE,69301,308-726-2182,flo.bookamer@cox.net,http://www.simontonhoweschneiderpc.com
Jani,Biddy,Warehouse Office & Paper Prod,61556 W 20th Ave,Seattle,King,WA,98104,206-711-6498,jbiddy@yahoo.com,http://www.warehouseofficepaperprod.com
Chauncey,Motley,Affiliated With Travelodge,63 E Aurora Dr,Orlando,Orange,FL,32804,407-413-4842,chauncey_motley@aol.com,http://www.affiliatedwithtravelodge.com

In [36]:
df

,first_name,last_name,company_name,address,city,county,state,zip,phone1,email,web
0,James,Butt,"Benton, John B Jr",6649 N Blue Gum St,New Orleans,Orleans,LA,70116,504-621-8927,jbutt@gmail.com,http://www.bentonjohnbjr.com
1,Josephine,Darakjy,"Chanay, Jeffrey A Esq",4 B Blue Ridge Blvd,Brighton,Livingston,MI,48116,810-292-9388,josephine_darakjy@darakjy.org,http://www.chanayjeffreyaesq.com
2,Art,Venere,"Chemel, James L Cpa",8 W Cerritos Ave #54,Bridgeport,Gloucester,NJ,8014,856-636-8749,art@venere.org,http://www.chemeljameslcpa.com
3,Lenna,Paprocki,Feltz Printing Service,639 Main St,Anchorage,Anchorage,AK,99501,907-385-4412,lpaprocki@hotmail.com,http://www.feltzprintingservice.com
4,Donette,Foller,Printing Dimensions,34 Center St,Hamilton,Butler,OH,45011,513-570-1893,donette.foller@cox.net,http://www.printingdimensions.com
...,...,...,...,...,...,...,...,...,...,...,...
495,Brittni,Gillaspie,Inner Label,67 Rv Cent,Boise,Ada,ID,83709,208-709-1235,bgillaspie@gillaspie.com,http://www.innerlabel.com
496,Raylene,Kampa,Hermar Inc,2 Sw Nyberg Rd,Elkhart,Elkhart,IN,46514,574-499-1454,rkampa@kampa.org,http://www.hermarinc.com
497,Flo,Bookamer,Simonton Howe & Schneider Pc,89992 E 15th St,Alliance,Box Butte,NE,69301,308-726-2182,flo.bookamer@cox.net,http://www.simontonhoweschneiderpc.com
498,Jani,Biddy,Warehouse Office & Paper Prod,61556 W 20th Ave,Seattle,King,WA,98104,206-711-6498,jbiddy@yahoo.com,http://www.warehouseofficepaperprod.com
499,Chauncey,Motley,Affiliated With Travelodge,63 E Aurora Dr,Orlando,Orange,FL,32804,407-413-4842,chauncey_motley@aol.com,http://www.affiliatedwithtravelodge.com

In [37]:
# this function usimg data same fram using data 
df.reset_index()

,index,first_name,last_name,company_name,address,city,county,state,zip,phone1,email,web
0,0,James,Butt,"Benton, John B Jr",6649 N Blue Gum St,New Orleans,Orleans,LA,70116,504-621-8927,jbutt@gmail.com,http://www.bentonjohnbjr.com
1,1,Josephine,Darakjy,"Chanay, Jeffrey A Esq",4 B Blue Ridge Blvd,Brighton,Livingston,MI,48116,810-292-9388,josephine_darakjy@darakjy.org,http://www.chanayjeffreyaesq.com
2,2,Art,Venere,"Chemel, James L Cpa",8 W Cerritos Ave #54,Bridgeport,Gloucester,NJ,8014,856-636-8749,art@venere.org,http://www.chemeljameslcpa.com
3,3,Lenna,Paprocki,Feltz Printing Service,639 Main St,Anchorage,Anchorage,AK,99501,907-385-4412,lpaprocki@hotmail.com,http://www.feltzprintingservice.com
4,4,Donette,Foller,Printing Dimensions,34 Center St,Hamilton,Butler,OH,45011,513-570-1893,donette.foller@cox.net,http://www.printingdimensions.com
...,...,...,...,...,...,...,...,...,...,...,...,...
495,495,Brittni,Gillaspie,Inner Label,67 Rv Cent,Boise,Ada,ID,83709,208-709-1235,bgillaspie@gillaspie.com,http://www.innerlabel.com
496,496,Raylene,Kampa,Hermar Inc,2 Sw Nyberg Rd,Elkhart,Elkhart,IN,46514,574-499-1454,rkampa@kampa.org,http://www.hermarinc.com
497,497,Flo,Bookamer,Simonton Howe & Schneider Pc,89992 E 15th St,Alliance,Box Butte,NE,69301,308-726-2182,flo.bookamer@cox.net,http://www.simontonhoweschneiderpc.com
498,498,Jani,Biddy,Warehouse Office & Paper Prod,61556 W 20th Ave,Seattle,King,WA,98104,206-711-6498,jbiddy@yahoo.com,http://www.warehouseofficepaperprod.com
499,499,Chauncey,Motley,Affiliated With Travelodge,63 E Aurora Dr,Orlando,Orange,FL,32804,407-413-4842,chauncey_motley@aol.com,http://www.affiliatedwithtravelodge.com

In [38]:
#this functiin show using diccenry data in dataFrame only ne lenth all data same other wise show error
d = {'key1' :[1,2,3,4,5,6],
     'key2' :[4,5,6,8,5,7],
     'key3' :[7,8,4,9,7,6]
    }

In [39]:
pd.DataFrame(d)

   key1  key2  key3
0     1     4     7
1     2     5     8
2     3     6     4
3     4     8     9
4     5     5     7
5     6     7     6

In [40]:
df1=pd.read_csv('services.csv')

In [41]:
#this function besicly using nil data remove permantaly 
df1.dropna(inplace=True)

In [42]:
df1

Empty DataFrame
Columns: [id, location_id, program_id, accepted_payments, alternate_name, application_process, audience, description, eligibility, email, fees, funding_sources, interpretation_services, keywords, languages, name, required_documents, service_areas, status, wait_time, website, taxonomy_ids]
Index: []

[0 rows x 22 columns]

In [43]:
#this function permantaly data deleted 
df1.dropna(axis=1)

Empty DataFrame
Columns: [id, location_id, program_id, accepted_payments, alternate_name, application_process, audience, description, eligibility, email, fees, funding_sources, interpretation_services, keywords, languages, name, required_documents, service_areas, status, wait_time, website, taxonomy_ids]
Index: []

[0 rows x 22 columns]

In [54]:
df2=pd.read_csv('https://media.githubusercontent.com/media/datablist/sample-csv-files/main/files/organizations/organizations-10000.csv')

In [55]:
df2

,Index,Organization Id,Name,Website,Country,Description,Founded,Industry,Number of employees
0,1,522816eF8fdBE6d,Mckinney PLC,http://soto.com/,Sri Lanka,Synergized global system engine,1988,Dairy,3930
1,2,70C7FBD7e6Aa3Ea,Cunningham LLC,http://harding-duffy.com/,Namibia,Team-oriented fault-tolerant adapter,2018,Library,7871
2,3,428B397eA2d7290,Ruiz-Walls,http://www.atkins.biz/,Iran,Re-contextualized bifurcated moderator,2003,Hospital / Health Care,3095
3,4,9D234Ae8Cc51C1c,"Parrish, Osborne and Clarke",http://salazar.info/,British Indian Ocean Territory (Chagos Archipe...,Fully-configurable next generation concept,1989,Supermarkets,5422
4,5,6CDCcdE3D0b7b44,"Diaz, Robles and Haley",https://www.brooks-scott.net/,Botswana,Inverse intangible methodology,2013,Nanotechnology,3135
...,...,...,...,...,...,...,...,...,...
9995,9996,2EE82AD1Cd045cd,"Neal, Day and Wang",https://carson.net/,San Marino,Team-oriented multimedia core,2013,Import / Export,6123
9996,9997,06f1568A2CaF04a,"Barrett, Rojas and Adkins",https://douglas-garza.com/,Turkmenistan,Cross-group dedicated methodology,2018,Human Resources / HR,9043
9997,9998,B4B92A44e0331Bc,Franklin-Ayala,http://www.torres.org/,Yemen,Polarized exuding orchestration,1983,Financial Services,8951
9998,9999,01D2539e270CEbd,Wolfe-Mckee,http://www.parks.com/,Togo,Balanced value-added ability,1975,Environmental Services,2505
9999,10000,0D3b7DcFA21d92d,Beck LLC,https://wagner-glover.com/,Georgia,Decentralized context-sensitive service-desk,2007,Wireless,4552

In [56]:
# this function using nil data remove permantely
df2.dropna(axis=1)

,Index,Organization Id,Name,Website,Country,Description,Founded,Industry,Number of employees
0,1,522816eF8fdBE6d,Mckinney PLC,http://soto.com/,Sri Lanka,Synergized global system engine,1988,Dairy,3930
1,2,70C7FBD7e6Aa3Ea,Cunningham LLC,http://harding-duffy.com/,Namibia,Team-oriented fault-tolerant adapter,2018,Library,7871
2,3,428B397eA2d7290,Ruiz-Walls,http://www.atkins.biz/,Iran,Re-contextualized bifurcated moderator,2003,Hospital / Health Care,3095
3,4,9D234Ae8Cc51C1c,"Parrish, Osborne and Clarke",http://salazar.info/,British Indian Ocean Territory (Chagos Archipe...,Fully-configurable next generation concept,1989,Supermarkets,5422
4,5,6CDCcdE3D0b7b44,"Diaz, Robles and Haley",https://www.brooks-scott.net/,Botswana,Inverse intangible methodology,2013,Nanotechnology,3135
...,...,...,...,...,...,...,...,...,...
9995,9996,2EE82AD1Cd045cd,"Neal, Day and Wang",https://carson.net/,San Marino,Team-oriented multimedia core,2013,Import / Export,6123
9996,9997,06f1568A2CaF04a,"Barrett, Rojas and Adkins",https://douglas-garza.com/,Turkmenistan,Cross-group dedicated methodology,2018,Human Resources / HR,9043
9997,9998,B4B92A44e0331Bc,Franklin-Ayala,http://www.torres.org/,Yemen,Polarized exuding orchestration,1983,Financial Services,8951
9998,9999,01D2539e270CEbd,Wolfe-Mckee,http://www.parks.com/,Togo,Balanced value-added ability,1975,Environmental Services,2505
9999,10000,0D3b7DcFA21d92d,Beck LLC,https://wagner-glover.com/,Georgia,Decentralized context-sensitive service-desk,2007,Wireless,4552

In [57]:
# this function nil option fil the comment name blanck place this function not permanetely shift 
df2.fillna('james')

,Index,Organization Id,Name,Website,Country,Description,Founded,Industry,Number of employees
0,1,522816eF8fdBE6d,Mckinney PLC,http://soto.com/,Sri Lanka,Synergized global system engine,1988,Dairy,3930
1,2,70C7FBD7e6Aa3Ea,Cunningham LLC,http://harding-duffy.com/,Namibia,Team-oriented fault-tolerant adapter,2018,Library,7871
2,3,428B397eA2d7290,Ruiz-Walls,http://www.atkins.biz/,Iran,Re-contextualized bifurcated moderator,2003,Hospital / Health Care,3095
3,4,9D234Ae8Cc51C1c,"Parrish, Osborne and Clarke",http://salazar.info/,British Indian Ocean Territory (Chagos Archipe...,Fully-configurable next generation concept,1989,Supermarkets,5422
4,5,6CDCcdE3D0b7b44,"Diaz, Robles and Haley",https://www.brooks-scott.net/,Botswana,Inverse intangible methodology,2013,Nanotechnology,3135
...,...,...,...,...,...,...,...,...,...
9995,9996,2EE82AD1Cd045cd,"Neal, Day and Wang",https://carson.net/,San Marino,Team-oriented multimedia core,2013,Import / Export,6123
9996,9997,06f1568A2CaF04a,"Barrett, Rojas and Adkins",https://douglas-garza.com/,Turkmenistan,Cross-group dedicated methodology,2018,Human Resources / HR,9043
9997,9998,B4B92A44e0331Bc,Franklin-Ayala,http://www.torres.org/,Yemen,Polarized exuding orchestration,1983,Financial Services,8951
9998,9999,01D2539e270CEbd,Wolfe-Mckee,http://www.parks.com/,Togo,Balanced value-added ability,1975,Environmental Services,2505
9999,10000,0D3b7DcFA21d92d,Beck LLC,https://wagner-glover.com/,Georgia,Decentralized context-sensitive service-desk,2007,Wireless,4552

In [58]:
df.reset_index(inplace=True)

In [51]:
df

,index,first_name,last_name,company_name,address,city,county,state,zip,phone1,email,web
0,0,James,Butt,"Benton, John B Jr",6649 N Blue Gum St,New Orleans,Orleans,LA,70116,504-621-8927,jbutt@gmail.com,http://www.bentonjohnbjr.com
1,1,Josephine,Darakjy,"Chanay, Jeffrey A Esq",4 B Blue Ridge Blvd,Brighton,Livingston,MI,48116,810-292-9388,josephine_darakjy@darakjy.org,http://www.chanayjeffreyaesq.com
2,2,Art,Venere,"Chemel, James L Cpa",8 W Cerritos Ave #54,Bridgeport,Gloucester,NJ,8014,856-636-8749,art@venere.org,http://www.chemeljameslcpa.com
3,3,Lenna,Paprocki,Feltz Printing Service,639 Main St,Anchorage,Anchorage,AK,99501,907-385-4412,lpaprocki@hotmail.com,http://www.feltzprintingservice.com
4,4,Donette,Foller,Printing Dimensions,34 Center St,Hamilton,Butler,OH,45011,513-570-1893,donette.foller@cox.net,http://www.printingdimensions.com
...,...,...,...,...,...,...,...,...,...,...,...,...
495,495,Brittni,Gillaspie,Inner Label,67 Rv Cent,Boise,Ada,ID,83709,208-709-1235,bgillaspie@gillaspie.com,http://www.innerlabel.com
496,496,Raylene,Kampa,Hermar Inc,2 Sw Nyberg Rd,Elkhart,Elkhart,IN,46514,574-499-1454,rkampa@kampa.org,http://www.hermarinc.com
497,497,Flo,Bookamer,Simonton Howe & Schneider Pc,89992 E 15th St,Alliance,Box Butte,NE,69301,308-726-2182,flo.bookamer@cox.net,http://www.simontonhoweschneiderpc.com
498,498,Jani,Biddy,Warehouse Office & Paper Prod,61556 W 20th Ave,Seattle,King,WA,98104,206-711-6498,jbiddy@yahoo.com,http://www.warehouseofficepaperprod.com
499,499,Chauncey,Motley,Affiliated With Travelodge,63 E Aurora Dr,Orlando,Orange,FL,32804,407-413-4842,chauncey_motley@aol.com,http://www.affiliatedwithtravelodge.com

In [52]:
g=df.groupby('city')

In [53]:
g

In [59]:
#this function grouping both code run multipul arthmatic using like (sum,main,avrege,multipication )
g.sum()

/tmp/ipykernel_77/1197020669.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  g.sum()

               level_0  index     zip
city
Aberdeen           276    276   21001
Abilene           1319   1319  294023
Absecon            133    133    8201
Akron               88     88   44302
Albany             141    141   43905
...                ...    ...     ...
Wichita Falls      274    274   76301
Wilmington         237    237    1887
Worcester          799    799    4807
Yonkers            226    226   10701
York               308    308   17404

[342 rows x 3 columns]

In [61]:
g.mean()

/tmp/ipykernel_77/2978112660.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  g.mean()

                  level_0       index           zip
city
Aberdeen       276.000000  276.000000  21001.000000
Abilene        329.750000  329.750000  73505.750000
Absecon        133.000000  133.000000   8201.000000
Akron           88.000000   88.000000  44302.000000
Albany          70.500000   70.500000  21952.500000
...                   ...         ...           ...
Wichita Falls  274.000000  274.000000  76301.000000
Wilmington     237.000000  237.000000   1887.000000
Worcester      266.333333  266.333333   1602.333333
Yonkers        226.000000  226.000000  10701.000000
York           308.000000  308.000000  17404.000000

[342 rows x 3 columns]

In [71]:
g1=df.groupby('state')

In [72]:
g1

In [75]:
g1.max()

,level_0,index,first_name,last_name,company_name,address,city,county,zip,phone1,email,web
state,,,,,,,,,,,,
AK,386,386,Wilda,Weight,Service Supply Co Inc,735 Crawford Dr,Fairbanks,Fairbanks North Star,99712,907-870-5536,wilda@cox.net,http://www.servicesupplycoinc.com
AR,159,159,Carin,Deleo,"Redeker, Debbie",1844 Southern Blvd,Little Rock,Pulaski,72202,501-308-1040,cdeleo@deleo.com,http://www.redekerdebbie.com
AZ,435,435,Regenia,Sengbusch,Sea Island Div Of Fstr Ind Inc,96541 W Central Blvd,Scottsdale,Maricopa,85381,623-461-8551,regenia.kannady@cox.net,http://www.seaislanddivoffstrindinc.com
CA,494,494,Xuan,Zepp,"Wise, Dennis W Md",99385 Charity St #840,Van Nuys,Ventura,95965,951-645-3605,xuan@gmail.com,http://www.wisedenniswmd.com
CO,421,421,Virgie,Saras,Super 8 Motel,866 34th Ave,Littleton,El Paso,80937,719-853-3600,vkiel@hotmail.com,http://www.supermotel.com
CT,403,403,Zona,Pedrozo,"Solove, Robert A Esq",9122 Carpenter Ave,Norwalk,New Haven,6854,203-892-3863,zona@hotmail.com,http://www.soloverobertaesq.com
DC,493,493,Alesia,Hixenbaugh,Kwikprint,9 Front St,Washington,District of Columbia,20001,202-646-7516,alesia_hixenbaugh@hixenbaugh.org,http://www.kwikprint.com
FL,499,499,Tiffiny,Zurcher,Whitehall Robbins Labs Divsn,97 Airport Loop Dr,Tampa,Volusia,34448,904-775-4480,tiffiny_steffensmeier@cox.net,http://www.whitehallrobbinslabsdivsn.com
GA,371,371,Scarlet,Wide,Wmmt Radio Station,99 5th Ave #33,Trion,Fulton,31701,770-844-3447,scarlet.cartan@yahoo.com,http://www.wmmtradiostation.com
HI,168,168,Rolande,Spickerman,Neland Travel Agency,7 Benton Dr,Pearl City,Honolulu,96819,808-892-7943,rolande.spickerman@spickerman.com,http://www.nelandtravelagency.com
IA,390,390,Glenn,Berray,"Griswold, John E Esq",29 Cherry St #7073,Des Moines,Polk,50315,515-370-7348,gberray@gmail.com,http://www.griswoldjohneesq.com
ID,495,495,Winfred,Mondella,Private Properties,9635 S Main St,Moscow,Latah,83843,208-862-5339,winfred_brucato@hotmail.com,http://www.privateproperties.com
IL,465,465,Weldon,Wildfong,"Wolf, Warren R Esq",9 Murfreesboro Rd,Wheeling,Winnebago,61109,847-979-9545,wacuff@gmail.com,http://www.wolfwarrenresq.com
IN,496,496,Serina,Zagen,W W John Holden Inc,87393 E Highland Rd,South Bend,St Joseph,47404,812-368-1511,szagen@aol.com,http://www.wwjohnholdeninc.com
KS,490,490,Kimberlie,Rulapaugh,"Tippett, Troy M Ii",86 Nw 66th St #8673,Shawnee,Johnson,67601,913-413-4604,kimberlie_duenas@yahoo.com,http://www.tippetttroymii.com
KY,438,438,Stephane,Myricks,Portland Central Thriftlodge,9 Tower Ave,Burlington,Boone,41005,859-717-7638,stephane_myricks@cox.net,http://www.portlandcentralthriftlodge.com
LA,400,400,Willodean,Storment,Stuart J Agins,6651 Municipal Rd,New Orleans,Terrebonne,70518,985-890-7262,willodean_konopacki@konopacki.org,http://www.stuartjagins.com
MA,431,431,Oretha,Treston,W Tc Industries Inc,8139 I Hwy 10 #92,Worcester,Worcester,2760,978-697-6263,oretha_menter@yahoo.com,http://www.wtcindustriesinc.com
MD,462,462,Sylvia,Timenez,Vico Products Mfg Co,96950 Hidden Ln,Salisbury,Wicomico,21801,410-914-9018,sylvia_cousey@cousey.org,http://www.vicoproductsmfgco.com
ME,306,306,Jolanda,Setter,Southern Steel Shelving Co,96263 Greenwood Pl,Warren,Penobscot,4864,207-627-7565,jhanafan@gmail.com,http://www.southernsteelshelvingco.com
MI,453,453,Yuki,Whobrey,"Wells, D Fred Esq",9581 E Arapahoe Rd,Waterford,Wayne,49546,810-292-9388,yuki_whobrey@aol.com,http://www.wellsdfredesq.com
MN,372,372,Skye,Saylors,"Stanton, James D Esq",7061 N 2nd St,Shakopee,Scott,55401,952-768-2416,skye_fillingim@yahoo.com,http://www.stantonjamesdesq.com
MO,474,474,Tresa,Sweely,"Grayson, Grant S Esq",4923 Carey Ave,Valley Park,Saint Louis City,64504,816-557-9673,tresa_sweely@hotmail.com,http://www.graysongrantsesq.com
MS,475,475,Roslyn,Sahagun,White Sign Div Ctrl Equip Co,919 Wall Blvd,Pearl,Rankin,39530,601-927-8287,roslyn.chavous@chavous.org,http://www.whitesigndivctrlequipco.com
MT,310,310,Raina,Brachle,Ikg Borden Divsn Harsco Corp,3829 Ventura Blvd,Butte,Silver Bow,59701,406-318-1515,raina.brachle@brachle.org,http://www.ikgbordendivsnharscocorp.com
NC,461,461,Rosio,Newville,Thompson Steel Company Inc,987 Main St,Smithfield,Wake,28301,919-623-2524,rosio.cork@gmail.com,http://www.thompsonsteelcompanyinc.com
ND,284,284,Lavonda,Hengel,Bradley Nameplate Corp,87 Imperial Ct #79,Fargo,Cass,58102,701-898-2154,lavonda@cox.net,http://www.bradleynameplatecorp.com
NE,497,497,Flo,Kardas,Simonton Howe & Schneider Pc,89992 E 15th St,Omaha,Douglas,69301,402-896-5943,flo.bookamer@cox.net,http://www.simontonhoweschneiderpc.com
NH,268,268,Dalene,Riden,Silverman Planetarium,66552 Malone Rd,Plaistow,Rockingham,3865,603-315-6839,dalene.riden@aol.com,http://www.silvermanplanetarium.com
NJ,488,488,Yvonne,Wolfgramm,"Young, Timothy L Esq",9939 N 14th St,Whippany,Union,8876,973-943-3423,yvonne.tjepkema@hotmail.com,http://www.youngtimothylesq.com
NM,80,80,Francine,Vocelka,Garrison Ind,366 South Dr,Las Cruces,Dona Ana,88101,505-977-3911,francine_vocelka@vocelka.com,http://www.garrisonind.com
NV,285,285,Junita,Stoltzman,Scat Enterprises,94 W Dodge Rd,Reno,Washoe,89701,775-638-9963,junita@aol.com,http://www.scatenterprises.com
NY,482,482,Yolando,Wrinkles,Woodbridge Free Public Library,97 E 3rd St #9,Yonkers,Westchester,14895,914-868-5965,yolando@cox.net,http://www.woodbridgefreepubliclibrary.com
OH,405,405,Tamar,Witten,"Yeates, Arthur L Aia",98 Connecticut Ave Nw,Toledo,Wood,45840,740-343-8575,tamar@hotmail.com,http://www.yeatesarthurlaia.com
OK,398,398,Sylvie,Ryser,Millers Market & Deli,649 Tulane Ave,Tulsa,Tulsa,74105,918-644-9555,sylvie@aol.com,http://www.millersmarketdeli.com
OR,195,195,Youlanda,Scheyer,"Vlahos, John J Esq",9 Church St,Salem,Washington,97754,541-548-8197,youlanda@aol.com,http://www.vlahosjohnjesq.com
PA,485,485,Vincent,Yum,Wheatley Trucking Company,992 Civic Center Dr,York,York,19443,814-865-8113,vincent.meinerding@hotmail.com,http://www.wheatleytruckingcompany.com
RI,489,489,Lawrence,Thyberg,Wye Technologies Inc,9 Hwy,Providence,Providence,2919,401-960-8259,lawrence.lorens@hotmail.com,http://www.wyetechnologiesinc.com
SC,260,260,Sabra,Uyetake,Ray Carolyne Realty,98839 Hawthorne Blvd #6101,Spartanburg,Spartanburg,29301,864-256-3620,sabra@uyetake.org,http://www.raycarolynerealty.com
SD,8,8,Sage,Wieser,Truhlar And Truhlar Attys,5 Boston Ave #88,Sioux Falls,Minnehaha,57105,605-414-2147,sage_wieser@cox.net,http://www.truhlarandtruhlarattys.com
TN,444,444,Meaghan,Villanueva,Valerie & Company,90177 N 55th Ave,Tullahoma,Warren,38575,931-875-6644,meaghan@hotmail.com,http://www.valeriecompany.com
TX,476,476,Xochitl,Turinetti,Warner Electric Brk & Cltch Co,99586 Main St,Wichita Falls,Williamson,79925,979-718-8968,xdiscipio@gmail.com,http://www.warnerelectricbrkcltchco.com
UT,450,450,Lonny,Weglarz,History Division Of State,51120 State Route 18,Salt Lake City,Salt Lake,84115,801-293-9853,lonny_weglarz@gmail.com,http://www.historydivisionofstate.com
VA,468,468,Taryn,Wolny,Versatile Sash & Woodwork,9677 Commerce Dr,Richmond,Richmond City,23608,804-762-9576,taryn.moyd@hotmail.com,http://www.versatilesashwoodwork.com
WA,498,498,Samira,Pagliuca,Warehouse Office & Paper Prod,8772 Old County Rd #5410,Vashon,Snohomish,99352,509-755-5393,sheintzman@hotmail.com,http://www.warehouseofficepaperprod.com
WI,483,483,Virgina,Yglesias,Twiggs Abrams Blanchard,9 N College Ave #3,Stevens Point,Rock,54481,920-353-6377,virgina_tegarden@tegarden.com,http://www.twiggsabramsblanchard.com
WY,481,481,Natalie,Fern,Sign All,7140 University Ave,Rock Springs,Sweetwater,82901,307-704-8713,natalie.fern@hotmail.com,http://www.signall.com

In [76]:
#this function rotet 360 degree rotet 
g1.max().T

state,AK,AR,AZ,CA,CO,CT,DC,FL,GA,HI,...,RI,SC,SD,TN,TX,UT,VA,WA,WI,WY
level_0,386,159,435,494,421,403,493,499,371,168,...,489,260,8,444,476,450,468,498,483,481
index,386,159,435,494,421,403,493,499,371,168,...,489,260,8,444,476,450,468,498,483,481
first_name,Wilda,Carin,Regenia,Xuan,Virgie,Zona,Alesia,Tiffiny,Scarlet,Rolande,...,Lawrence,Sabra,Sage,Meaghan,Xochitl,Lonny,Taryn,Samira,Virgina,Natalie
last_name,Weight,Deleo,Sengbusch,Zepp,Saras,Pedrozo,Hixenbaugh,Zurcher,Wide,Spickerman,...,Thyberg,Uyetake,Wieser,Villanueva,Turinetti,Weglarz,Wolny,Pagliuca,Yglesias,Fern
company_name,Service Supply Co Inc,"Redeker, Debbie",Sea Island Div Of Fstr Ind Inc,"Wise, Dennis W Md",Super 8 Motel,"Solove, Robert A Esq",Kwikprint,Whitehall Robbins Labs Divsn,Wmmt Radio Station,Neland Travel Agency,...,Wye Technologies Inc,Ray Carolyne Realty,Truhlar And Truhlar Attys,Valerie & Company,Warner Electric Brk & Cltch Co,History Division Of State,Versatile Sash & Woodwork,Warehouse Office & Paper Prod,Twiggs Abrams Blanchard,Sign All
address,735 Crawford Dr,1844 Southern Blvd,96541 W Central Blvd,99385 Charity St #840,866 34th Ave,9122 Carpenter Ave,9 Front St,97 Airport Loop Dr,99 5th Ave #33,7 Benton Dr,...,9 Hwy,98839 Hawthorne Blvd #6101,5 Boston Ave #88,90177 N 55th Ave,99586 Main St,51120 State Route 18,9677 Commerce Dr,8772 Old County Rd #5410,9 N College Ave #3,7140 University Ave
city,Fairbanks,Little Rock,Scottsdale,Van Nuys,Littleton,Norwalk,Washington,Tampa,Trion,Pearl City,...,Providence,Spartanburg,Sioux Falls,Tullahoma,Wichita Falls,Salt Lake City,Richmond,Vashon,Stevens Point,Rock Springs
county,Fairbanks North Star,Pulaski,Maricopa,Ventura,El Paso,New Haven,District of Columbia,Volusia,Fulton,Honolulu,...,Providence,Spartanburg,Minnehaha,Warren,Williamson,Salt Lake,Richmond City,Snohomish,Rock,Sweetwater
zip,99712,72202,85381,95965,80937,6854,20001,34448,31701,96819,...,2919,29301,57105,38575,79925,84115,23608,99352,54481,82901
phone1,907-870-5536,501-308-1040,623-461-8551,951-645-3605,719-853-3600,203-892-3863,202-646-7516,904-775-4480,770-844-3447,808-892-7943,...,401-960-8259,864-256-3620,605-414-2147,931-875-6644,979-718-8968,801-293-9853,804-762-9576,509-755-5393,920-353-6377,307-704-8713
email,wilda@cox.net,cdeleo@deleo.com,regenia.kannady@cox.net,xuan@gmail.com,vkiel@hotmail.com,zona@hotmail.com,alesia_hixenbaugh@hixenbaugh.org,tiffiny_steffensmeier@cox.net,scarlet.cartan@yahoo.com,rolande.spickerman@spickerman.com,...,lawrence.lorens@hotmail.com,sabra@uyetake.org,sage_wieser@cox.net,meaghan@hotmail.com,xdiscipio@gmail.com,lonny_weglarz@gmail.com,taryn.moyd@hotmail.com,sheintzman@hotmail.com,virgina_tegarden@tegarden.com,natalie.fern@hotmail.com
web,http://www.servicesupplycoinc.com,http://www.redekerdebbie.com,http://www.seaislanddivoffstrindinc.com,http://www.wisedenniswmd.com,http://www.supermotel.com,http://www.soloverobertaesq.com,http://www.kwikprint.com,http://www.whitehallrobbinslabsdivsn.com,http://www.wmmtradiostation.com,http://www.nelandtravelagency.com,...,http://www.wyetechnologiesinc.com,http://www.raycarolynerealty.com,http://www.truhlarandtruhlarattys.com,http://www.valeriecompany.com,http://www.warnerelectricbrkcltchco.com,http://www.historydivisionofstate.com,http://www.versatilesashwoodwork.com,http://www.warehouseofficepaperprod.com,http://www.twiggsabramsblanchard.com,http://www.signall.com

In [78]:
#this function rotet 360 degree rotet same using 
g1.mean().transpose()

/tmp/ipykernel_77/1107350457.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  g1.mean().transpose()

state,AK,AR,AZ,CA,CO,CT,DC,FL,GA,HI,...,RI,SC,SD,TN,TX,UT,VA,WA,WI,WY
level_0,105.666667,159.0,306.444444,247.555556,263.125,310.2,493.0,293.714286,282.142857,129.25,...,248.6,161.333333,8.0,267.5,231.34375,450.0,310.285714,328.625,199.090909,273.000000
index,105.666667,159.0,306.444444,247.555556,263.125,310.2,493.0,293.714286,282.142857,129.25,...,248.6,161.333333,8.0,267.5,231.34375,450.0,310.285714,328.625,199.090909,273.000000
zip,99573.000000,72202.0,85132.000000,93007.888889,80381.750,6592.6,20001.0,33057.142857,30561.000000,96784.50,...,2908.2,29234.333333,57105.0,37643.6,77160.03125,84115.0,22611.857143,98434.125,53591.636364,82467.666667

In [79]:
df

,level_0,index,first_name,last_name,company_name,address,city,county,state,zip,phone1,email,web
0,0,0,James,Butt,"Benton, John B Jr",6649 N Blue Gum St,New Orleans,Orleans,LA,70116,504-621-8927,jbutt@gmail.com,http://www.bentonjohnbjr.com
1,1,1,Josephine,Darakjy,"Chanay, Jeffrey A Esq",4 B Blue Ridge Blvd,Brighton,Livingston,MI,48116,810-292-9388,josephine_darakjy@darakjy.org,http://www.chanayjeffreyaesq.com
2,2,2,Art,Venere,"Chemel, James L Cpa",8 W Cerritos Ave #54,Bridgeport,Gloucester,NJ,8014,856-636-8749,art@venere.org,http://www.chemeljameslcpa.com
3,3,3,Lenna,Paprocki,Feltz Printing Service,639 Main St,Anchorage,Anchorage,AK,99501,907-385-4412,lpaprocki@hotmail.com,http://www.feltzprintingservice.com
4,4,4,Donette,Foller,Printing Dimensions,34 Center St,Hamilton,Butler,OH,45011,513-570-1893,donette.foller@cox.net,http://www.printingdimensions.com
...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,495,495,Brittni,Gillaspie,Inner Label,67 Rv Cent,Boise,Ada,ID,83709,208-709-1235,bgillaspie@gillaspie.com,http://www.innerlabel.com
496,496,496,Raylene,Kampa,Hermar Inc,2 Sw Nyberg Rd,Elkhart,Elkhart,IN,46514,574-499-1454,rkampa@kampa.org,http://www.hermarinc.com
497,497,497,Flo,Bookamer,Simonton Howe & Schneider Pc,89992 E 15th St,Alliance,Box Butte,NE,69301,308-726-2182,flo.bookamer@cox.net,http://www.simontonhoweschneiderpc.com
498,498,498,Jani,Biddy,Warehouse Office & Paper Prod,61556 W 20th Ave,Seattle,King,WA,98104,206-711-6498,jbiddy@yahoo.com,http://www.warehouseofficepaperprod.com
499,499,499,Chauncey,Motley,Affiliated With Travelodge,63 E Aurora Dr,Orlando,Orange,FL,32804,407-413-4842,chauncey_motley@aol.com,http://www.affiliatedwithtravelodge.com

In [81]:
df5=df[['first_name','city','index']][0:5]

In [84]:
df5

  first_name         city  index
0      James  New Orleans      0
1  Josephine     Brighton      1
2        Art   Bridgeport      2
3      Lenna    Anchorage      3
4    Donette     Hamilton      4

In [85]:
df6=df[['first_name','city','index']][5:10]

In [86]:
#this function uisng joint data run concat function with (vertical line)
pd.concat([df5,df6])

  first_name         city  index
0      James  New Orleans      0
1  Josephine     Brighton      1
2        Art   Bridgeport      2
3      Lenna    Anchorage      3
4    Donette     Hamilton      4
5     Simona      Ashland      5
6     Mitsue      Chicago      6
7      Leota     San Jose      7
8       Sage  Sioux Falls      8
9       Kris    Baltimore      9

In [89]:
# this function same run horizontal line
df7=pd.concat([df5,df6],axis=1)

In [90]:
df7

  first_name         city  index first_name         city  index
0      James  New Orleans    0.0        NaN          NaN    NaN
1  Josephine     Brighton    1.0        NaN          NaN    NaN
2        Art   Bridgeport    2.0        NaN          NaN    NaN
3      Lenna    Anchorage    3.0        NaN          NaN    NaN
4    Donette     Hamilton    4.0        NaN          NaN    NaN
5        NaN          NaN    NaN     Simona      Ashland    5.0
6        NaN          NaN    NaN     Mitsue      Chicago    6.0
7        NaN          NaN    NaN      Leota     San Jose    7.0
8        NaN          NaN    NaN       Sage  Sioux Falls    8.0
9        NaN          NaN    NaN       Kris    Baltimore    9.0

In [91]:
df7.fillna('durgesh')

  first_name         city    index first_name         city    index
0      James  New Orleans      0.0    durgesh      durgesh  durgesh
1  Josephine     Brighton      1.0    durgesh      durgesh  durgesh
2        Art   Bridgeport      2.0    durgesh      durgesh  durgesh
3      Lenna    Anchorage      3.0    durgesh      durgesh  durgesh
4    Donette     Hamilton      4.0    durgesh      durgesh  durgesh
5    durgesh      durgesh  durgesh     Simona      Ashland      5.0
6    durgesh      durgesh  durgesh     Mitsue      Chicago      6.0
7    durgesh      durgesh  durgesh      Leota     San Jose      7.0
8    durgesh      durgesh  durgesh       Sage  Sioux Falls      8.0
9    durgesh      durgesh  durgesh       Kris    Baltimore      9.0

In [98]:
data1=pd.DataFrame({'key' :[1,2,3,4,5],
       'key1':[54,57,24,85,42],
       'key2':[7,8,9,4,5]
      })

In [99]:
data1

   key  key1  key2
0    1    54     7
1    2    57     8
2    3    24     9
3    4    85     4
4    5    42     5

In [102]:
data2=pd.DataFrame({'key' :[1,2,3,4,5],
       'key3':[5,5,2,8,4],
       'key4':[7,8,9,4,5]
      })

In [103]:
data2

   key  key3  key4
0    1     5     7
1    2     5     8
2    3     2     9
3    4     8     4
4    5     4     5

In [104]:
#* inner: use intersection of keys from both frames, similar to a SQL inner
# join; preserve the order of the left keys.
pd.merge(data1,data2)

   key  key1  key2  key3  key4
0    1    54     7     5     7
1    2    57     8     5     8
2    3    24     9     2     9
3    4    85     4     8     4
4    5    42     5     4     5

In [105]:
#* left: use only keys from left frame, similar to a SQL left outer join;
#preserve key order.
pd.merge(data1,data2,how='left')

   key  key1  key2  key3  key4
0    1    54     7     5     7
1    2    57     8     5     8
2    3    24     9     2     9
3    4    85     4     8     4
4    5    42     5     4     5

In [106]:
#* right: use only keys from right frame, similar to a SQL right outer join;
# preserve key order.
pd.merge(data1,data2,how='right')

   key  key1  key2  key3  key4
0    1    54     7     5     7
1    2    57     8     5     8
2    3    24     9     2     9
3    4    85     4     8     4
4    5    42     5     4     5

In [107]:
#outer: use union of keys from both frames, similar to a SQL full outer
#join; sort keys lexicographically
pd.merge(data1,data2,how='outer')

   key  key1  key2  key3  key4
0    1    54     7     5     7
1    2    57     8     5     8
2    3    24     9     2     9
3    4    85     4     8     4
4    5    42     5     4     5

In [108]:
# cross:creates the cartesian product from both frames, preserves the order
#of the left keys.
pd.merge(data1,data2,how='cross')

    key_x  key1  key2  key_y  key3  key4
0       1    54     7      1     5     7
1       1    54     7      2     5     8
2       1    54     7      3     2     9
3       1    54     7      4     8     4
4       1    54     7      5     4     5
5       2    57     8      1     5     7
6       2    57     8      2     5     8
7       2    57     8      3     2     9
8       2    57     8      4     8     4
9       2    57     8      5     4     5
10      3    24     9      1     5     7
11      3    24     9      2     5     8
12      3    24     9      3     2     9
13      3    24     9      4     8     4
14      3    24     9      5     4     5
15      4    85     4      1     5     7
16      4    85     4      2     5     8
17      4    85     4      3     2     9
18      4    85     4      4     8     4
19      4    85     4      5     4     5
20      5    42     5      1     5     7
21      5    42     5      2     5     8
22      5    42     5      3     2     9
23      5    42     5      4     8     4
24      5    42     5      5     4     5

In [110]:
# this function basicly using col wise marge and fing data "on"function
pd.merge(data1,data2,how='outer',on ='key')

   key  key1  key2  key3  key4
0    1    54     7     5     7
1    2    57     8     5     8
2    3    24     9     2     9
3    4    85     4     8     4
4    5    42     5     4     5

In [125]:
#using index all data frame after dictionary
data1=pd.DataFrame({'key' :[1,2,3,4,5],
       'key1':[54,57,24,85,42],
       'key2':[7,8,9,4,5]},
        index=['a','s','d','c','n'] 
                    
      )

In [130]:
#using index all data frame after dictionary
data2=pd.DataFrame({'key41' :[1,2,3,4,5],
       'key33':[5,5,2,8,4],
       'key44':[7,8,9,4,5]},
        index=['a','s','l','j','h']
                    
      )

In [131]:
data1

   key  key1  key2
a    1    54     7
s    2    57     8
d    3    24     9
c    4    85     4
n    5    42     5

In [132]:
data2

   key41  key33  key44
a      1      5      7
s      2      5      8
l      3      2      9
j      4      8      4
h      5      4      5

In [133]:
#Join columns with `other` DataFrame either on index or on a key
##column. Efficiently join multiple DataFrame objects by index at once by
#passing a list.(notes : this functuion work index through wroking )
data1.join(data2)

   key  key1  key2  key41  key33  key44
a    1    54     7    1.0    5.0    7.0
s    2    57     8    2.0    5.0    8.0
d    3    24     9    NaN    NaN    NaN
c    4    85     4    NaN    NaN    NaN
n    5    42     5    NaN    NaN    NaN

In [134]:
data1.join(data2,how='right')

   key  key1  key2  key41  key33  key44
a  1.0  54.0   7.0      1      5      7
s  2.0  57.0   8.0      2      5      8
l  NaN   NaN   NaN      3      2      9
j  NaN   NaN   NaN      4      8      4
h  NaN   NaN   NaN      5      4      5

In [ ]:
# this function bacily mappping function using out of satate carrncy mapp and all other oprestion (not time data not here) Error show me 
df['Fare_INR']= df['Fare_doller'].apply(lambda x :x*80)
df.head()

In [ ]:
# this function same working not issue 
def euro_inr(x):
    return x*80

df['Fare_INR']= df['Fare_doller'].apply(lambda x :x*80)
df.head()

In [ ]:
# this function fing lenth dataFrame 
df.head ()
df['fris_name']= df['Name'].apply(len)

In [144]:
# this function basecly using fix lower , mid and hiher value fing 
def cat_fare(x):
    if x<10 :
        return "Cheap"
    elif x<=10 and x<20:
        return "mid"
     
    else :
        return "high"

In [ ]:
df['cat_fare'] = df['Fare'].apply(cat_fare)